<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>qr-generator</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        *{
            border:1px solid black;
        }
    </style>

</head>
<body>
    <nav class=" bg-blue-300 flex justify-around py-4 items-center">
        <h1 class="uppercase font-semibold text-xl">qr generator</h1>
        <div class="flex gap-5">

            <p class=" capitalize text-md bg-white rounded-lg px-2 py-1 hover:text-zinc-600 cursor-pointer"><a href="/about">about</a></p>
            <p class="capitalize text-md bg-white rounded-lg px-2 py-1 hover:text-zinc-600 cursor-pointer">
                <a href="/">Home</a>
            </p>
        </div>
    </nav>
    <div  class="flex justify-center flex-col items-center gap-5 h-[90vh]">


        <h1 class=" font-semibold text-2xl">Created by Khsuhi ❤️</h1>
        <div class=" flex gap-5 items-center justify-center">

            <a class=" border-blue-500 border-2 px-3 rounded-lg border-dashed text-blue-500 block" href="https://github.com/kkhushie">Github</a>    
            <a class=" border-blue-500 border-2 px-3 rounded-lg border-dashed text-blue-500 block" href="https://linkedin.com/in/khushiepal">Linkedin</a>    
        </div>
    </div>
</body>
</html>